<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>File Uploader</title>
    <link rel="stylesheet" href="/styles/style.css" />
  </head>
  <body>
    <header>
      <nav>
        <h1>Welcome, <%= username %>!</h1>
        <div>
          <a href="/"><button>Main Page</button></a>
        </div>
        <form action="/logout" method="post">
          <button type="submit">logout</button>
        </form>
      </nav>
      <form
        action="/upload"
        method="post"
        enctype="multipart/form-data"
        class="small-form"
      >
        <h2>Upload File:</h2>
        <div class="form-control">
          <label for="file">File:</label>
          <input type="file" name="file" id="file" />
        </div>
        <div class="form-control">
          <label for="file-name">Name:</label>
          <input type="text" name="name" id="file-name" required />
        </div>
        <button type="submit">Upload</button>
      </form>
    </header>

    <main>
      <section class="folders">
        <h1>Folders:</h1>
        <form action="/new-folder" method="post" class="small-form">
          <h2>Create Folder:</h2>
          <div class="form-control">
            <label for="folder-name">Name:</label>
            <input type="text" name="name" id="folder-name" />
          </div>
          <button type="submit">Create</button>
        </form>
        <div class="folder-container">
          <%- include("list-folders", {folders, looseFiles: files}); %>
        </div>
      </section>

      <% if (files.length > 0) { %>
      <section class="loose-files">
        <h1>Loose Files:</h1>
        <div class="file-container"><%- include("list-files", {files}); %></div>
      </section>
      <% } %>
    </main>
  </body>
</html>
