<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>File Uploader</title>
    <link rel="stylesheet" href="/styles/style.css" />
  </head>
  <body>
    <header>
      <nav>
        <h1>File Uploader</h1>
        <div>
          <a href="/home"><button>homepage</button></a>
        </div>
        <% if (locals.user) { %>
        <form action="/logout" method="post">
          <button type="submit">logout</button>
        </form>
        <% } else { %>
        <div>
          <a href="/login"><button>login</button></a>
        </div>
        <div>
          <a href="/signup"><button>signup</button></a>
        </div>
        <% } %>
      </nav>
    </header>
    <main></main>
  </body>
</html>
